<app-header-mobile-back title="Farmer's Portal" >

</app-header-mobile-back>

<div class="container">
    <div class="items"> 
        <div class="small planting" style="background-color: #167183;color: white;"  [routerLink]="['/planting']" routerLinkActive="router-link-active"></div>
        <div class="small spraying" [routerLink]="['/spraying']" routerLinkActive="router-link-active"></div>
        <div class="small harvest" [routerLink]="['/harvest']" routerLinkActive="router-link-active"></div>
        <div class="small requisition" [routerLink]="['/requisition']" routerLinkActive="router-link-active"></div>
        <div class="small support" [routerLink]="['/support']" routerLinkActive="router-link-active"></div>
        <div class="small messages" [routerLink]="['/messages']" routerLinkActive="router-link-active"></div>
    </div>


</div>