<!-- <h3>Live Support</h3> -->
<app-header-mobile-back title="Support">

</app-header-mobile-back>
<div class="container">
    <!-- <h3 >Farming Portal</h3> -->
        <div class="element ">
            <div class="card">
                <!-- <img class="card-image" src="../../../assets/images/mic-support.png" alt="SE holdings Logo image"
                    title="Client Logo" /> -->
            </div>
        </div>
            <mat-card-content>
              <h3>How can we help you?</h3>
              <p class="help-text">{{longText}}</p>
            </mat-card-content>
        <div class="button-container">
            <button type="button" class="btn" mat-raised-button color="primary">Email to us</button>
            <button  type="button" class="btn" (click)="liveSupportChat()"  mat-raised-button color="primary">Chat with us</button>
           
        </div>
  </div>