<p>live-support-chat works!</p>
<div class="header">
    <app-header-mobile-back [title]="'Help Agent Chat'" fxHide fxShow.lt-sm>
    </app-header-mobile-back>
  </div>
  <div class="center">
  
    <div class="chat">
      <div class="contact bar">
        <div class="pic stark"></div>
        <div class="name">
          James Edwards
        </div>
        <div class="seen">
          Today at 12:56
        </div>
      </div>
      <div class="messages" id="chat">
        <div class="time">
          Today at 11:41
        </div>
        <div class="message parker">
          How do i see all my planting schedules?
        </div>
        <div class="message stark">
          Kindly upgrade to the Gold package and you will see them
        </div>
        <div class="message parker">
          Uh, what  🤔
        </div>
        <div class="message stark">
          lol Just Joking with you, this is just a test
        </div>
        <div class="message stark">
          <div class="typing typing-1"></div>
          <div class="typing typing-2"></div>
          <div class="typing typing-3"></div>
        </div>
      </div>
      <div class="input">
        <i class="fas fa-camera"></i><i class="far fa-laugh-beam"></i><input placeholder="Type your message here!"
          type="text" /><i class="fas fa-microphone"></i>
      </div>
    </div>
  </div>