<app-header-mobile-back title="Messages">

</app-header-mobile-back>
<div class="container">
  <!-- <h3 >Farming Portal</h3> -->
  <!-- <div class="container">
    <mat-list>
      <div class="header" mat-subheader>Inbox</div>
      <mat-list-item *ngFor="let contact of contacts" (click)="contactClick(contact)">
        <div mat-list-icon id="avatar"></div>
        <div class="contact-text" mat-line>{{contact.name}}</div>
        <div class="organization-text" mat-line> {{contact.organization}} </div>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </div> -->
  
  <article class="leaderboard">

    <h3>Inbox</h3>
    <main class="leaderboard__profiles">
    
      <article  (click)="openChat()" class="leaderboard__profile">
        <img src="https://randomuser.me/api/portraits/men/32.jpg" alt="Mark Zuckerberg" class="leaderboard__picture">
        <span class="leaderboard__name">Nelson Petersong</span>
        <!-- <span class="leaderboard__value">35.7<span>B</span></span> -->
      </article>

      <article (click)="openChat()"  class="leaderboard__profile">
        <img src="https://randomuser.me/api/portraits/men/97.jpg" alt="Dustin Moskovitz" class="leaderboard__picture">
        <span class="leaderboard__name">Gabriel Richards</span>
        <!-- <span class="leaderboard__value">9.9<span>B</span></span> -->
      </article>

      <article  (click)="openChat()" class="leaderboard__profile">
        <img src="https://randomuser.me/api/portraits/women/17.jpg" alt="Elizabeth Holmes" class="leaderboard__picture">
        <span class="leaderboard__name">Elizabeth Holmes</span>
        <!-- <span class="leaderboard__value">4.5<span>B</span></span> -->
      </article>

      <article  (click)="openChat()" class="leaderboard__profile">
        <img src="https://randomuser.me/api/portraits/men/37.jpg" alt="Evan Spiegel" class="leaderboard__picture">
        <span class="leaderboard__name">Evan Spiegel</span>
        <!-- <span class="leaderboard__value">2.1<span>B</span></span> -->
      </article>
    </main>
  </article>
</div>
