<div class="header">
    <app-header-mobile-back   [title]="'Profile'" fxHide fxShow.lt-sm>
    </app-header-mobile-back>
  </div>
  

<div class="container">
    <!-- <input id="slider" class="customSlider" type="checkbox">
    <label for="slider"></label> -->
    
    <div class="wrapper">
        <div class="top-icons">
            <i class="fas fa-long-arrow-alt-left"></i>
            <i class="fas fa-ellipsis-v"></i>
            <i class="far fa-heart"></i>
        </div>
        
        <div class="profile">
            <img src="https://images.unsplash.com/photo-1484186139897-d5fc6b908812?ixlib=rb-0.3.5&s=9358d797b2e1370884aa51b0ab94f706&auto=format&fit=crop&w=200&q=80%20500w" class="thumbnail">
            <div class="check"><i class="fas fa-check"></i></div>
            <h3 class="name">Juliet Maluleke</h3>
            <p class="title">Irene Farm</p>
            <p class="description">Irene Farm is the ultimate farm in the city – perfect for a family-friendly day out in Centurion.</p>
            <div class="social-icons">
                <div class="icon">
                    <!-- <a href="/"><i class="fab fa-dribbble"></i></a> -->
                    <h4>5</h4>
                    <p>Farms</p>
                </div>
                
                <div class="icon">
                    <!-- <a href="#"><i class="fab fa-behance"></i></a> -->
                    <h4>12.8k</h4>
                    <p>Hectres of Land</p>
                </div>
                
                <div class="icon">
                    <!-- <a href="#"><i class="fab fa-twitter"></i></a> -->
                    <h4>80</h4>
                    <p>Employees</p>
                </div>
            </div>
            <button type="button" class="btn">My Farms</button>
            <button type="button" class="btn-settings">Settings</button>

        </div>
    </div>

</div>