
  <mat-toolbar class="mat-elevation-z4">
   <button mat-icon-button class="example-icon"  (click)="profileClick()" aria-label="Example icon-button with menu icon">
    <mat-icon>account_circle</mat-icon>
  </button>
  <!-- <span>My App</span> -->
  <div class="logo-container">
    <img class="logo" src="../../../assets/images/SEHoldingsLogo.png" alt="SE holdings Logo image"
      title="Client Logo" />
  </div>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>notifications</mat-icon>
  </button>
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
   <mat-icon>more_vert</mat-icon>
 </button> -->
</mat-toolbar>


