.container{
  
  // background-color: aqua;
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(../../../assets/images/homebackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.options-container{
    position: relative;
    // background-color: aqua;
    padding-top: 80px;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    
}
.circle{
    position:relative;
    width:35%;
    padding-bottom:35%;
    background:#385723;
    border-radius:50%;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-size: cover;
    // margin-top: 5vh;
  }
  .circle-portal{
    background-image: url(../../../assets/icons/portal.png);
  
  }
  .circle-reports{
    margin-top: 3vh;
    background-image: url(../../../assets/icons/reports.png);

  }

  .circle h3{
    position:absolute;
    top:70%; left:50%;
    transform: translate(-50%, -50%);
    margin:0;
    color: white;
    // font-weight: 900;
    font-size: small;
  }
  .circle-icon{
    position:absolute;
    top:30%; left:42%;
    transform: translate(-50%, -50%);
    margin:0;
    font-size: 50px;
    color: white;
  }